/* floating-button-sdk.min.css */
.floating-button-common {
    position: fixed;
    bottom: 80px;
    right: 16px;
    background-size: contain;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.button-image {
    width: 54px;
    height: 54px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    background-image: url('public/img/units/floating-gentoo.png');
}

.button-image-shrink {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-image: url('public/img/units/floating-gentoo-shrink.png');
}

.expanded-button {
    position: fixed;
    bottom: 80px;
    right: 16px;
    width: fit-content;
    max-width: 300px;
    height: 50px;
    background: #fff;
    border: 1px solid #222;
    border-radius: 795px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
    padding: 16px 24px;
    padding-right: 66px;
    z-index: 999;
    display: flex;
    justify-content: center;

    transition: all 1s;
}

.expanded-text {
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 600;
    color: #222;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.iframe-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 222, 222, 0.5);
    z-index: 999;
    padding: 0px;
    border: 1px solid #999;
    border-radius: 10px;
}

.iframe-container-shrink {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 490px;
    background-color: rgba(22, 222, 222, 0.5);
    z-index: 999;
    padding: 0px;
    border: 1px solid #999;
    border-radius: 10px;
}

.chat-iframe {
    width: 100%;
    height: calc(100% - 30px);
    border: none;
}

.chat-header {
    width: 100%;
    height: 30px;
    background: green;
}