/* floating-button-sdk.min.css */
.floating-button {
    position: fixed;
    bottom: 80px;
    right: 16px;
    width: 50px;
    height: 50px;
    background-image: url('/gh/waddle-corp/sdk-js-web@main/public/img/units/floating-gentoo.png');
    background-size: contain;
    color: white;
    border: none;
    /* border-radius: 50%; */
    /* padding: 15px; */
    cursor: pointer;
    z-index: 1000;
}

.expanded-button {
    position: fixed;
    bottom: 80px;
    right: 16px;
    width: 250px;
    height: 50px;
    background: #fff;
    border: #999;
    border-radius: 795px;
    padding: 16px;
    padding-right: 66px;
    z-index: 999;

    transition: all 1s;
}

.iframe-container {
    position: fixed;
    bottom: 80px;
    right: 16px;
    width: 90%;
    height: 600px;
    background-color: rgba(22, 222, 222, 0.5);
    z-index: 999;
    padding: 8px;
    background: #999;
    border-radius: 10px;
}

.chat-iframe {
    width: 100%;
    height: calc(100% - 30px);
    border: none;
}

.chat-header {
    width: 100%;
    height: 30px;
    background: green;
}