@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Pretendard-Light.woff") format("woff");
    /* light */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Pretendard-Regular.woff") format("woff");
    /* regular */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Pretendard-SemiBold.woff") format("woff");
    /* semi bold */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Pretendard-Bold.woff") format("woff");
    /* regular */
}

p {
    font-family: "pretendard";
    color: red;
}